<div layout="row" layout-wrap>
    <md-card ng-click="showAddCollection($event)" aria-label="Add Collection">
        <md-card-title layout="column">
            <img src="\resources\images\ic_add_circle_outline_black_48px.svg">
            <md-card-title-text layout="end end">
                <span class="md-headline">New Collection</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
    <md-card ng-repeat="collection in collectionList" ng-click="setActiveCollection(collection)">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{collection.desc}}</span>
                <span class="md-subhead">
                    <li ng-repeat="word in collection.keywords">
                        {{word}}
                    </li>
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Run Collection" ng-click="runCollection(collection._id)" ng-hide="collection.activeFlag">
                <ng-md-icon icon="play_circle_fill" style="fill: grey"/>
            </md-button>
            <md-button class="md-icon-button" aria-label="Pause Collection" ng-click="stopCollection(collection._id)" ng-show="collection.activeFlag">
                <ng-md-icon icon="pause_circle_filled" style="fill: grey"/>
            </md-button>
            <md-button class="md-icon-button" aria-label="Delete Collection" ng-click="deleteCollection(collection._id)">
                <ng-md-icon icon="delete_forever" style="fill: grey"/>
            </md-button>
        </md-card-actions>

    </md-card>
</div>