<md-toolbar class="md-hue-1" layout="row" layout-align="space-between center">
    <span>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Open Available Collections"
                       ui-sref="myapp.collections">
                <ng-md-icon icon="menu" style="fill: grey"/>
            </md-button>
            <md-button class="md-button" ui-sref="myapp.visual1">Home</md-button>
            <md-button class="md-button" ui-sref="myapp.visual2">Visual1</md-button>
            <md-button class="md-button" ui-sref="myapp.visual3">Visual2</md-button>
        </div>
    </span>
    Current Collection is {{activeCollection._id}}
    <span>
        <md-button class="md-icon-button" aria-label="Help">
            <ng-md-icon icon="help" style="fill: grey"/>
            <md-tooltip md-delay="300">
                {{ activeCollection.desc }}
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="Login">
            <ng-md-icon icon="person" style="fill: grey"/>
        </md-button>
    </span>
</md-toolbar>